.blog {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.blog-card {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    background-color: #191818;
    border: 1px solid orangered;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.02);
    }

    img {
        width: 30%;
        margin-right: 20px;
        filter: grayscale(100%);
        transition: filter 0.3s; // Filtrenin geçiş efekti için
    }

    &:hover img {
        filter: grayscale(0%);
    }
}

.blog-card-content {
    flex: 1;
}

.blog-card h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    color: orangered;
}

.blog-card p {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-right: 20px;
    color: white;
}

.blog-card-link {
    text-decoration: none;
    margin-bottom: auto;
    color: orangered;

    &:hover {
        color: orange;
    }
}