.galeri-detay {
    margin-top: 40px;

    img {
        width: 75%;
        object-fit: cover;
    }

    .button {
        background-color: darkgoldenrod;
        width: 150px;
        margin: auto;
        padding: 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: .6s;

        &:hover {
            background-color: orangered;
        }

        a {
            color: whitesmoke;
            text-decoration: none;
            font-size: 15px;
        }
    }
}